script.R
README.html
.Rproj.user
.clangd/
cpp11test/compile_commands.json
cpp11test/src/Makevars
cpp11test/src/*.o
cpp11test/src/*.so
compile_flags.txt
inst/doc
vignettes/*_cache
compile_commands.json
revdep/*/
talk/
TAGS
